@page "/"
@model SpotifyApi.Pages.MainModel
@{
}

<div class="row mt-3 form-group">
	<form method="post" asp-page-handler="ChoosePlaylist">
		<div class="col-3">
			<label>Playlist id: </label>
			<input type="text" asp-for="PlaylistId"/>
			<button type="submit" class="btn btn-primary">Enter</button>
		</div>
	</form>
</div>

@if (Model.PlaylistInfo != null && Model.PlaylistId != null)
{
	<table class="table">
		<thead>
			<tr>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var track in Model.PlaylistInfo.tracks.items)
			{
				<tr>
					<th>
						@track.track.name
					</th>
				</tr>
			}
		</tbody>
	</table>
}

